/*全体を両端から15％ずらす*/
h1 {
    padding-left: 15%;
}
/*表の幅を全体の70％にする。罫線を1本にする*/
.confirm {
    width: 80%;
    border-collapse: collapse;
    border-bottom: solid 1px #004422;
    /*margin-bottom: 50px;*/
    margin: 0 auto;
}
/*テーブルの各セルの外観*/
.confirm td {
    /*上下でpaddingを変える*/
    padding: 16px 6px;
    font-size: 120%;
    text-align: center;
    /*ボーダー色をヘッダーと一致させる*/
    border: solid 1px #006622;
}
/*左端の列がヘッダー代わりとなるときの書き方*/
.confirm td:first-child {
    font-size: 140%;
    color: #eeeeee;
    background-color: #006622;
    border-bottom: solid 1px #ffffff;
}
/*左端に寄せ、左端を見やすい程度に空ける*/
.confirm td:last-child {
    text-align: left;
    padding-left: 25px;
    /*background-color: #0000bf;*/
}
/*マウスを重ねたとき、行の背景色を変更する*/
.confirm td:first-child.hover {
    background-color: #00aa22;
}
.confirm td:last-child.hover {
    background-color: #00ee11;
}
/*最後の列だけボーダーを緑にする*/
.confirm td#no_under_white {
    border: solid 1px #004422;
}
/*submitボタン共通レイアウト*/
.sub {
    font-size: 180%;
    font-weight: bold;
    border: solid 1px #000000;
    border-radius: 7px;
    padding: 12px 24px;
}
/*確定ボタン、修正ボタンそれぞれのレイアウト*/
/*ボタンを囲うspanタグに適用する*/
.submit {
    color: #eeeeee;
    background-color: #774422;
}
.modify {
    color: #111111;
    background-color: #ff9999;
}
/*ボタン全体を囲うpタグに適用する*/
.btn {
    margin: 0 20px;
}
.btns {
    /*float: right;*/
    /*!*margin-left: 10%;*!*/
    /*margin-right: 30%;*/
    margin-top: 40px;
    text-align: center;
    /*padding-right: 15%;*/
}
