input,select {
    font-size: 80%;
}
input[type="text"].half {
    width: 45%;
}
input[type="text"],input[name="peopleNum"],input[type="date"] {
    width: 80%;
}
input[type="number"],select {
    width: 30%;
}
input[type="radio"] {
    width: 20%;
}